

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   ::-webkit-scrollbar {
       background-color: #111111;
       width: 10px;
       height: 10px;
   }

   ::-webkit-scrollbar-thumb {
       background-color: #666;
   }

   ::-webkit-scrollbar-thumb:hover {
       background-color: #999;
       border-radius: 3px;
   }

   ::-webkit-scrollbar-thumb:active {
       background-color: #ccc;
       border-radius: 5px;
   }

   ::-webkit-scrollbar-corner {
       color: #666;
   }

.jumbotron {
  margin-bottom: 0px;
}

#header {
  width: 100% !important;
}

.column {
  text-align: center;
  padding-top: 10px;
}

.row {
  max-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.link-image {
  width: 200px;
  height: 200px;
  border: 25px solid #0099ff;
  background-color: #003d66;
  margin: auto;
  margin-bottom: 75px;
  margin-top: 25px;
  border-radius: 20px;
}

.link-image:hover {
  border: 50px solid #0099ff;
  width: 250px;
  height: 250px;
  margin-bottom: 25px;
  margin-top: 0px;
  border-radius: 0px;
}

@media screen and (max-width: 992px) {
  .link-image {
    margin-bottom: 25px;
  }
  .link-image:hover {
    border: 25px solid #0099ff;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 200px;
    height: 200px;
  }
}

* {
  transition: all 150ms linear;
}

.limb {
  margin-top: 5px;
}

.fa {
  color: #f5f5f5;
  width: 50px !important;
  height: 50px !important;
}

.fac {
  margin: auto;
  width: 50px;
  height: 50px;
  padding-top: 10px;
}

.limbt {
  font-family: 'bitter';
  color: #80c9ff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
}

::selection {
  background: #555;
  color: #f5f5f5;
}
::-moz-selection {
  background: #555;
  color: #f5f5f5;
}

.oversection {
  background-color: #444;
}

.navbar {
  opacity: 0.9;
  border-radius: 0px;
}

.overt {
  font-family: 'bitter';
  color: #f5f5f5;
  font-size: 38px;
  text-align: center;
  padding-top: 90px;
}

.overp {
  font: normal 14px Montserrat;
  color: #f4f4f4;
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width:1000px) {
  .overp {
    margin-left: 75px;
    margin-right: 75px;
  }
}

@media screen and (max-width:500px) {
  .overp {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.navbar-subpages {
  height: 70px;
  position: fixed;
  opacity: 1.0;
}

.nhs, .ncs, .nvs {
  height: 46.666666667px;
}

.nbs {
  margin: 0px 0px !important;
  padding: 15px 15px !important;
}

.nvls {
  padding: 10px 10px !important;
  margin: 6px 6px !important;
}

.nvtgs {
  margin-top: 4px !important;
}

.tsec {
  background-color: #eee;
  background-image: url(../img/teambackground.png);
  background-attachment: fixed;
}

.tst {
  color: #444;
}

.tmember {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: -10px;
  padding-top: 10px;
  width: 300px;
  height: 200px;
}

.tmember:hover {
  width: 300px;
  height: 250px;
  margin-bottom: -35px;
  margin-top: -20px;
}

@media screen and (max-width: 1024px) {
  .tmember {
    margin-bottom: 35px;
    padding-top: 0px;
  }
  .tmember:hover {
    width: 300px;
    height: 200px;
    margin-bottom: 35px;
    margin-top: -10px;
  }
}
.tmt {
  color: black;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.tmi {
  margin-top: 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.pimg {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    max-height: 300px;
    cursor: pointer;
}

.popover {
  background-color: #eee !important;
  color: #444 !important;
}

.arrow::after {
  border-top-color: #eee !important;
}

.carob {
  cursor: pointer;
}

.fa-arrow-right, .fa-arrow-left {
  color: #999;
}

.carobc {
  margin-top: 10px;
  text-align: center;
  margin-bottom: -15px;
}

.slick-arrow {
  z-index: 3000 !important;
  background-color: #666 !important;
  border-radius: 10px !important;
}

.slick-next {
  right: 60px !important;
}

.slick-prev {
  left: 60px !important;
}

@media screen and (max-width: 1200px){
  .slick-next {
    right: 40px !important;
  }

  .slick-prev {
    left: 40px !important;
  }
}

@media screen and (max-width: 1050px){
  .slick-next {
    right: 30px !important;
  }

  .slick-prev {
    left: 30px !important;
  }
}

@media screen and (max-width: 950px){
  .slick-next {
    right: 20px !important;
  }

  .slick-prev {
    left: 20px !important;
  }
}

@media screen and (max-width: 900px){
  .slick-next {
    z-index: -5000 !important;
  }

  .slick-prev {
    z-index: -5000 !important;
  }
}

.modalimg {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.modal-content {
  background-color: #f5f5f5 !important;
}

.tooltip {
  opacity: 1.0 !important;
  max-width: 200px !important;
  min-width: 150px !important;
}

.links {
  background-image: url(../img/linksbackground.png);
  background-attachment: fixed;
}

.shoptabs {
  top: 100px;
  position: relative;
  margin: 0 auto;
}

.shopcontainer {
  border: 5px solid #333;
  width: 80%;
  float: left;
  height: 100%;
}

.nav-tabs > li.active :before {
  border-bottom: 11px solid #333 !important;
}

.nav-tabs > li.active :after {
  border-bottom: 11px solid #333 !important;
}

.shopitem {
  height: 150px;
  width: 150px;
  border: 5px solid #666;
  background-color: transparent;
  border-radius: 20px;
  margin-left: 20px;
}

.shopitem:hover {
  border: 0px solid;
  background-color: #999;
  border-radius: 0px;
}
