

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   ::-webkit-scrollbar {
       background-color: #111111;
       width: 10px;
       height: 10px;
   }

   ::-webkit-scrollbar-thumb {
       background-color: #666;
   }

   ::-webkit-scrollbar-thumb:hover {
       background-color: #999;
       border-radius: 3px;
   }

   ::-webkit-scrollbar-thumb:active {
       background-color: #ccc;
       border-radius: 5px;
   }

   ::-webkit-scrollbar-corner {
       color: #666;
   }

.jumbotron {
  margin-bottom: 0px;
}

#header {
  width: 100% !important;
}

.column {
  text-align: center;
  padding-top: 10px;
}

.row {
  max-width: 100%;
}

.link-image {
  width: 200px;
  height: 200px;
  border: 25px solid #0099ff;
  background-color: #003d66;
  margin: auto;
  margin-bottom: 75px;
  margin-top: 25px;
}

.link-image:hover {
  border: 50px solid #0099ff;
  background-color: #003d66;
  width: 250px;
  height: 250px;
  margin-bottom: 25px;
  margin-top: 0px;
}

@media screen and (max-width: 992px) {
  .link-image:hover {
    margin-bottom: 50px;
  }
}

* {
  transition: all 150ms linear;
}

.limb {
  margin-top: 5px;
}

.fa {
  color: #f5f5f5;
  width: 50px !important;
  height: 50px !important;
}

.fac {
  margin: auto;
  width: 50px;
  height: 50px;
  padding-top: 10px;
}

.limbt {
  font-family: 'bitter';
  color: #80c9ff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
}

::selection {
  background: #555;
}
::-moz-selection {
  background: #555;
}

.oversection {
  background-color: #444;
}

.navbar {
  opacity: 0.9;
  border-radius: 0px;
}

.overt {
  font-family: 'bitter';
  color: #f5f5f5;
  font-size: 38px;
  text-align: center;
  padding-top: 90px;
}

.overp {
  font: normal 14px Montserrat;
  color: #f4f4f4;
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width:1000px) {
  .overp {
    margin-left: 75px;
    margin-right: 75px;
  }
}

@media screen and (max-width:500px) {
  .overp {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.navbar-subpages {
  height: 70px;
  position: fixed;
  opacity: 1.0;
}

.nhs, .ncs, .nvs {
  height: 46.666666667px;
}

.nbs {
  margin: 0px 0px !important;
  padding: 15px 15px !important;
}

.nvls {
  padding: 10px 10px !important;
  margin: 6px 6px !important;
}

.nvtgs {
  margin-top: 4px !important;
}

.btn-primary {
  color: black;
}
